/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "toastr";

 body {
   color: #565a5c;
   background-color: #f8f8f8;
   font-family: "Varela round", "helvetica neue", "helvetica", "arial", sans-serif;
 }

 a {
   color: #00a699;
 }

 .container {
   width: 80%;
 }

 // navbar

 .navbar-default {
   background-color: #ffffff;
 }

 .navbar-default .navbar-brand{
   color: #ff5a5f;
   font-size: 2em;
  font-family: 'Pacifico', cursive;
  font-weight: 400;
 }

// buttons

.btn-primary.btn {
 border: 1px solid #ff5a5f;
 border-radius: 5px;
 width: 100%;
 font-weight: bold;
 background-color: #ff5a5f;
 color: #fff;
 padding: 10px 25px 10px 25px;
}

.btn-primary.btn:hover, .btn-primary.btn:focus {
 border-color: #ff7e82;
 border-bottom-color: #fa0008;
 background-color: #ff7e82;
 outline:none;
}

.btn-primary.btn:active {
 border-color: #e00007;
 background-color: #e00007;
 outline:none;
}

.btn-default.btn {
 width: 100%;
 border-radius: 2px;
 padding: 10px 0;
 margin-top: 10px;
}

.panel-default .panel-heading {
 color: #565a5c;
 background-color: #edefed;
 font-size: 18px;
 font-weight: 400
}





 // avatar

.avatar-small{
  width: 28px;
}


.avatar-meidum{
  width:48px;
}

.avatar-large{
  width: 68px;
}

.avatar-full{
  width: 100%
}
